name: PR Title Check

on:
  pull_request:

permissions:
  pull-requests: read

jobs:
  pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          echo "PR title: $TITLE"

          if ! echo "$TITLE" | grep -Eq '^[A-Z].{9,71}$'; then
            echo "Error PR title is invalid."
            exit 1
          fi
          echo "PR title is valid."

